html, body { height: 100%; }
.container {
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

img {
  width: 130px;
  margin: 16px auto;
}

.cta {
  margin: 30px auto;
}

p.tagline {
  margin: 10px auto;
  font-weight: 300;
  font-size: 13px;
}

p {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 5px auto;

}

.footer > p {
  font-size: 10px;
}

.yellow { color: #FFCC00; }

a, a:visited, a:hover {
  color: #FFCC00;
  text-decoration: none;
  font-weight: 500;
}

.footer {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  margin: 16px auto;
}
